body::-webkit-scrollbar {
    background-color: transparent;
    width:10px;
}

body::-webkit-scrollbar-thumb {
    background-color: orange;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}

.copyright {
    background-color: #1a252f;
}

@media (min-width: 992px) {
    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33,37,41,.1);
        background-color: #03a9f4 !important;
    }

    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link {
        color: #ddd !important;
    }

    a.nav-link.js-scroll-trigger {
        color: #ddd !important;
    }

    a.nav-link.js-scroll-trigger:hover {
        color: white !important;
    }

    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
        color: white !important;
    }

    li.nav-item.home {
        display: block !important;
    }

    li.nav-item.home-text {
        display:none !important;
    }

    #grup-sirketleri .logo-holder .logo {
        background-size: auto !important;
    }

    .page .title {
        top: -40px !important;
        font-size: 28px !important;
    }

    
    .page .banner {
        height: 300px !important;
    }
}

#grup-sirketleri .logo-holder .logo {
    background-size: contain;
}

li.nav-item.home {
    display:none;
}

li.nav-item.home-text {
    display:block;
}

header.masthead.text-center.text-white.d-flex {
    position: relative;
}

header.masthead.text-center.text-white.d-flex::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #00609aad;
}

.navbar-brand.js-scroll-trigger .logo {
    width:auto;
    height: 100px;
}

header .social-media {
    position: absolute;
    left:0px;
    bottom: 0px;
    z-index: 3;
}

header .social-media .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
  }
  
header .social-media .fa:hover {
      opacity: 0.7;
  }

  nav ul.navbar-nav.ml-auto li.nav-item {
      position: relative;
  }

nav ul.navbar-nav.ml-auto li.nav-item a::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width:0;
    height: 0;
    border: 8px solid transparent;
    margin-top: 10px;
    transition-property: border-left-color;
    transition-duration: 500ms;
    margin-right: 12px;
}

.parallax {
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

section.info-area {
    background-image:url(../img/parallax.png);
}

#about {
    background-color: #ffedcd!important;
    color: #333 !important;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link {
    text-transform: none !important;
}

.social-media .logo {
    position: absolute;
    top: -100px;
    left: 10px;
    width: 100px;
    height: 100px;
    background-image:url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#about {
    background-image: url(../img/circuit.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

#grup-sirketleri {
    background-color: #fafafa;
    position: relative;
    padding: 20px;
}

#grup-sirketleri .logo-holder {
    width: 100%;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    height: 160px;
}

#grup-sirketleri .logo-holder .logo {
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 100px;
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 10px;
}

#grup-sirketleri .logo-holder .logo:hover {
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 300ms;
}

#grup-sirketleri .logo-holder::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;
}

#grup-sirketleri .logo-holder::-webkit-scrollbar-thumb {
    background-color: orange;
}

#grup-sirketleri .effect {
    background: linear-gradient(to right,#fafafa,#fafafa,#fafafadb,#fafafa00);
    height: 100%;
    width: 60px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    line-height: 120px;
    font-size: 80px;
    color: #03a9f4;
    cursor: pointer;
}

.effect.right {
    right: 0;
    left: unset !important;
    background: linear-gradient(to left,#fafafa,#fafafa,#fafafadb,#fafafa00) !important;
    text-align: right;
}

footer .social-holder a {
    color: #333 !important;
}

.hizmetler .fa-4x {
    font-size: 7em !important;
}

.jssorb064 .iav .b {
    fill: #02a0e9 !important;
    stroke: #03a9f4 !important;
}
header .play {
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 142px;
    height: 142px;
    z-index: 1;
    background-size: contain;
    background-color: transparent;
    border: none;
}

.hizmetler ul.liste {
    list-style-type: none;
    font-family: Raleway;
    
}

.hizmetler ul.liste li {
    margin-bottom: 25px;
    text-align: justify;
}

.footer-copyright {
    font-family: "Open Sans";
}

.oku {
    color: #03a9f4;
    font-weight: bold;
    cursor: pointer;
}


/*
bilişim sistemleri yazısı

font-size: 20px;
    line-height: 30px;
    left: -200px;
    top: 20px;
*/

.page .title {
    position: absolute;
    text-align: right;
    font-family: Raleway;
    font-size: 18px;
    left: -250px;
    top: -35px;
    right: 220px;
    color: #e7f8ff;
    text-shadow: -1px 0 #c5b6b6, 0 1px black, 1px 0 #cccaca, 0 -1px #d8c3c3
}

.container .service-logo {
    color: #03a9f4;
    font-size: 4em !important;
    background-color: white;
    padding: 30px;
    width: 2em;
    height: 2em;
    line-height: 75px;
    position: absolute;
    bottom: -40px;
    right: 70px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px -20px 70px -10px #03a9f4;
}

.page .banner {
    background-size: cover;width:100%;height: 250px; background-repeat:no-repeat;
    background-position: center;
    border-radius:0px 0px 0px 160px/100px;
}


.banner .wave {    
    width: 100%;
    height: 100%;
    position: relative;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-image: url(../img/page/dalga.png);
}

.container.contact-form {
    font-family: Raleway;
    padding: 70px 0px;
}


.container.contact-form label {
    margin-top: 15px;
    font-weight: bold;
    color: #a08787;
}

.container.contact-form input {
    font-size: 20px;
    font-family: Raleway;
    border: none;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    padding: 5px 3px;
    display: block;
    width: 100%;
    background-color: transparent;
}

.container.contact-form textarea {
    font-size: 20px;
    font-family: Raleway;
    border: none;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    padding: 5px 3px;
    display: block;
    height: 219px;
    max-height: 219px;
    min-height: 219px;
    background-color: transparent;
    width: 100%;
}

.container.contact-form .send {    
    font-size: 20px;
    font-family: Raleway;
    padding: 5px 3px;
    display: block;
    width: 100%;
    background-color: transparent;
    border: 2px solid orange;
    color: orange;
    border-radius: 6px;
    cursor: pointer;
}

.container.contact-form .bot {
    border: 2px solid orange;
    border-radius: 6px;
    background-color: #f9f9f9;
    overflow: hidden;
}

.container.contact-form .g-recaptcha {
    overflow: hidden;
    width: 210px;
    height: 75px;
    position: relative;
    top: -1px;
}

.contact-message {
    background: #f3f1f1;
    font-family: Raleway;
    font-size: 1rem;
    padding: 10px 5px;
}

.hr {
    border-bottom: 3px solid orange;
    position: relative;
    margin-bottom: 15px;
}

.hr .triangle {
    width: 0px;
    border: 20px solid transparent;
    border-top: 10px solid orange;
    background: transparent;
    position: absolute;
    bottom: -30px;
    left: 30px;
    z-index: 2;
}

.hr .triangle::after {
    content: '';
    width: 0px;
    border: 13px solid transparent;
    border-top: 7px solid #fafafa;
    background: transparent;
    position: absolute;
    bottom: -10px;
    left: -13px;
    z-index: 2;
}

.hr span {
    font-size: 1.2em;
    font-family: Raleway;
    color: orange;
    font-weight: bold;
}

.container.bilisim .hr {border-bottom-color: #03a9f4;}
.container.bilisim .hr .triangle, .container.bilisim .hr span{
    border-top-color: #03a9f4;
    color: #03a9f4;
}

.container.enerji .hr {border-bottom-color: orange;}
.container.enerji .hr .triangle, .container.enerji .hr span{
    border-top-color: orange;
    color: orange;
}

.container.otomasyon .hr {border-bottom-color: red;}
.container.otomasyon .hr .triangle, .container.otomasyon .hr span{
    border-top-color: red;
    color: red;
}

.container .logo-holder .uretici-logo {
    background-image:url(../img/ureticiler/bilisim/1.png);
    width: 150px;
    height: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 5px 5px 0px;
    transition-property: filter, opacity;
    transition-duration: 300ms;
}

.container .logo-holder .uretici-logo:hover {
    filter: blur(2px);
    opacity: 0.8;
    cursor: pointer;
}

.container .logo-holder .uretici-logo-holder {
    padding: 10px 30px 20px 30px;
    display: inline-block;
}